@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-gradient1: 249deg 99% 64%;
    --color-gradient2: 278deg 94% 30%;
    --color-red: 0deg 100% 66%;
    --color-white: 0deg 0% 100%;
    --color-lgviolet: 270deg 3% 87%;
    --color-dgviolet: 279deg 6% 55%;
    --color-vdviolet: 278deg 68% 11%;
  }

  input {
    @apply border border-red-500 focus:outline-none;
  }
}
